$background-white: #f8f8f8;
$background-green: #E8F0E4;

$heading-color: #548767;
$text-color: #363636;
$anchor-color: $heading-color;
$subtext-color: #365943;

$highlight-color: #fff4ab;
$highlight-color-from: #fff9e0;
$highlight-color-to: #fff2a3;

$error-color: #c5362f;
$warning-color: #ffe00a;
$success-color: #0f9106;